{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="jumbotron text-center">
  <div class="container">
    <h1 style="font-size: 4rem">Verify Phone Number</h1>
    <div class="row">
      <div class="col-md-offset-4 col-md-4">
        <form action="/verify-pin" method="POST">
          <input type="hidden" name="phone_number" value="{{ phone_number }}">

          <div class="form-group text-left">
            <label for="pin">Verification Code</label>
            <input type="text" name="pin" id="pin" class="form-control" placeholder="Enter your phone number" autocomplete="off">
            <small class="form-text text-muted">You will receive an SMS with a one-time PIN</small>
          </div>
          <button type="submit" class="btn btn-primary">Send Verification PIN</button>
      </div>
    </div>
  </div>
</div>
<div class="container">
  
</div>
{% endblock %}
